src/
tests/
tests-reports/
jest.config.ts
node_modules/
.git/
.docker/
.eslint*
.prettierrc
.env.example
.dockerignore
Dockerfile
babel.config.js
docker-compose.yml
notes.txt
package-lock.json
startdev.sh
maisoumenosprod.sh
tsconfig.json
README.md